*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1{
    font-size: 5rem;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
}

h2, h3, h4, h5, h6{
    letter-spacing: 2px;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}

p, a, button, span{
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

a, button{
    text-decoration: none;
    cursor: pointer;
}