.footer{
    width: 100%;
    height: 15vh;
    padding: 20px 0;
    background: color('primary');
    display: flex;
    align-items: center;
    justify-content: space-around;

    p{
        color: color('white');
        margin: 5px 0;
    }

    &-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-contacto{
        display: flex;
        align-items: center;
    }
}