.nav{
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        list-style: none;
        display: inline-block;
        li{
            display: inline-block;
        }
    }

    &-link{
        margin: 0 10px;
        color: color('white');
    }
}